<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel Test Suite" parallel="methods" thread-count="5">
    <test name="Test">
        <classes>
            <class name="Test.LoginTest" />
            <class name="Test.DashboardTest" />
            <class name="Test.CustomerTest" />
        </classes>
    </test>
</suite>